const ENV = {
  dev: {
    MAPBOX_KEY:
      'pk.eyJ1IjoibWF0aGV1c2Nvc3RhMjciLCJhIjoiY2tpdXo2MXNuMDU0bzJxcXR5NmF2bG1oeSJ9.pvbXRP9FDpW2IQYi77HM8w',
  },
};

export default ENV;

// MUST TO BE A TS FILE
// THIS FILE CONTAINS AN PUBLIC KEY, TRANSFORM THE FILE TO TS FILE (REMOVE .example), AND WILL WORK
